Source: blankon-sounds
Section: gnome
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: blankon-sounds
Architecture: all
Conflicts: gnome-sounds, ubuntu-sounds
Description: BlankOn sounds 
 BlankOn sounds
